{% extends "base/base.html" %}

{% block content %}
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <div style="max-width: 600px; padding: 20px;">
    {% csrf_token %}
    <table class="table" style="margin: auto;">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Title</th>
          <th scope="col">Created On</th>
        </tr>
      </thead>
      <tbody>
        {% for announcement in announcements %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td><a href="/room/{{ room.join_code }}/announcement/{{ announcement.id }}">{{ announcement.title }}</a></td>
          <td>{{ announcement.created_on }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <a class="create-button btn btn-sm btn-info" href="{% url 'create_announcement' room_id=room.join_code %}">Create</a>
  </div>
</div>
{% endblock %}
