{% extends "base/base.html" %}

{% block content %}
  <div class="container-create d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div>
      <h1 >Create Group Contribution</h1>

      <form method="post" action="{% url 'create_group_contrib' room_id=room.join_code %}">
        {% csrf_token %}

        <div class="row">
          <div class="col-md-6">
            {{ form.non_field_errors }}

            <div class="form-group">
              {{ form.title.label_tag }}
              {{ form.title }}
            </div>

            <div class="form-group">
              {{ form.amount.label_tag }}
              {{ form.amount }}
            </div>

            <div class="form-group">
              <label for="{{ form.due.id_for_label }}" class="form-label">{{ form.due.label }}</label>
              <input type="datetime-local" id="{{ form.due.id_for_label }}" class="form-control" name="{{ form.due.name }}" value="{{ form.due.value|default:'' }}" {% if form.due.required %}required{% endif %}>
              {{ form.due.errors }}
            </div>
            <div class="form-group d-flex justify-content-center align-items-center">
              <div style="margin-bottom: 50px;"> <!-- Add inline style for margin -->
                {{ form.selected_user_ids.label_tag }}
              </div>
              {{ form.selected_user_ids }}
            </div>


          </div>

        </div>

        <div class="row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Create Contribution</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
