{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>DORM LIFE</title>
</head>
<body>

    <div class="container">
        <i id="toggleSidebar" class="material-symbols-outlined custom-icon">
            menu
        </i>&nbsp;
        <h1>DORMLIFE</h1>

        <div class="profile-info">
            <img src="#" alt="Profile Avatar" id="profileImage">
            <div class="text" id="profileText">
                {{ user.first_name }} {{ user.last_name }}
                {{user.email}}</div> <!-- Added ID -->
        </div>

        <div class="sidebar" id="sidebar">
            <div class="menu">
                <ul>
                    <li>
                        <a href="{% url 'dashboard' room_id=room.join_code %}">
                            <i class="material-symbols-outlined">
                                home_app_logo
                            </i> &nbsp;
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="nav-parent main-button">
                        <span class="nav-trigger main-button" onclick="toggleNav(event, 'groupFinances')">
                            <i class="material-symbols-outlined">
                                business
                            </i> &nbsp;
                            <span>Group Finances</span>
                        </span>
                        <ul id="groupFinances">
                            <li><a href="{% url 'members' room_id=room.join_code %}">
                                    <i class="material-symbols-outlined">
                                        diversity_2
                                    </i> &nbsp;
                                    <span>Members</span>
                                </a>
                            </li>
                            <li><a href="{% url 'groupcontrib' room_id=room.join_code %}">
                                    <i class="material-symbols-outlined">
                                        diversity_3
                                    </i> &nbsp;
                                    <span>Group Contributions</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'view-bills' room_id=room.join_code %}">
                                    <i class="material-symbols-outlined">
                                        receipt_long
                                    </i> &nbsp;
                                    <span>Bills</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'todolist' room_id=room.join_code %}">
                                    <i class="material-symbols-outlined">
                                        list
                                    </i> &nbsp;
                                    <span>To Do</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'announcement' room_id=room.join_code %}">
                                    <i class="material-symbols-outlined">
                                        campaign
                                    </i> &nbsp;
                                    <span>Announcements</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'website_policy' room_id=room.join_code %}">
                                    <i class="material-symbols-outlined">
                                        policy
                                    </i> &nbsp;
                                    <span>Website Policy</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">
                            <i class="material-symbols-outlined">
                                logout
                            </i> &nbsp;
                            <span>Log Out</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'aboutus' %}">
                            <i class="material-symbols-outlined">
                                info
                            </i> &nbsp;
                            <span>About Us</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="join-botton" onclick="showJoinDorm()">
        </div>

    <main class="main">
        <div class="card">
            <h2 style="color: white;">{{ room.title }}</h2>
            <h2 style="color: white;">{{ room.join_code }}</h2>

            <table>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                {% for admin in room_admins %}
                <tr style="color: white;">
                    <td>{{ admin.first_name }} {{ admin.last_name }}</td>
                    <td class="profile-image-td"> <!-- Add a class to the table cell -->
                        {% if admin.profileimg %}
                            <img src="{{ admin.profileimg.url }}" alt="Profile Image" class="profile-image">
                        {% else %}
                            <img src="{% static '../images/LOGO.png' %}" alt="Default Profile Image" class="profile-image">
                        {% endif %}
                    </td>
                    <td></td>
                </tr>
                {% empty %}
                <tr style="color: white;">
                    <td colspan="3">No Admin yet.</td>
                </tr>
                {% endfor %}
                {% for member in room_members %}
                <tr style="color: white;">
                    <td>{{ member.first_name }} {{ member.last_name }}</td>
                    <td class="profile-image-td"> <!-- Add a class to the table cell -->
                        {% if member.profileimg %}
                            <img src="{{ member.profileimg.url }}" alt="Profile Image" class="profile-image">
                        {% else %}
                            <img src="{% static '../images/LOGO.png' %}" alt="Default Profile Image" class="profile-image">
                        {% endif %}
                        <a style="color: white;" href="/room/{{ room.join_code }}/members/">See All</a>

                    </td>
                    <td></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No Member yet.</td>
                </tr>
                {% endfor %}

            </table>
        </div>
        <div class="card">
            <h2 style="color: white;">BILLS</h2>
            <table>
                <tr>
                    <th style="color: white;">Contribution Name</th>
                    <th style="color: white;">Amount</th>
                    <th style="color: white;">Due</th>
                    <a style="color: white;" href="/room/{{ room.join_code }}/bills/">See All</a>


                </tr>
                {% for bills in room_bills %}
                <tr style="color: white;">
                    <td>{{ bills.title }}</td>
                    <td>{{ bills.amount }}</td>
                    <td>{{ bills.due }}</td>

                </tr>
                {% empty %}
                <tr style="color: white;">
                    <td colspan="2">No bills yet.</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="card">
            <h2 style="color: white;">GROUP CONTRIBUTION</h2>
            <table>
                <tr style="color: white;">
                    <th>Contribution Name</th>
                    <th>Amount</th>
                </tr>
                {% for contribution in room_group_contrib %}
                <tr style="color: white;">
                    <td>{{ contribution.title }}</td>
                    <td>{{ contribution.amount }}</td>
                </tr>
                <a style="color: white;" href="/room/{{ room.join_code }}/groupcontrib/">See All</a>

                {% empty %}
                <tr style="color: white;">
                    <td colspan="2">No contributions yet.</td>
                </tr>
                {% endfor %}
            </table>
        </div>


        <div class="card">
            <h2 style="color: white;">ANNOUNCEMENT</h2>

            {% for announcement in room_announcement %}
                <h2 style="color: white;">{{ announcement.author }} {{ announcement.created_on }}</h2>
                <a style="color: white;" href="/room/{{ room.join_code }}/announcement/{{ announcement.id }}">{{ announcement.title }}</a>
            <a style="color: white;" href="/room/{{ room.join_code }}/announcement/">See All</a>

            {% endfor %}
        </div>

        </div>

        <div class="card-body">
        </div>
    </main>

    <script>
        function toggleNav(event, navId) {
            var nav = document.getElementById(navId);
            var mainButton = document.querySelector('.main-button');
            var isSubButton = event.target.classList.contains('sub-button');

            // Check if the clicked button is the "Group Finances" button
            var isGroupFinancesButton = event.target.classList.contains('nav-trigger') && event.target.classList.contains('main-button');

            mainButton.classList.toggle('active', !isSubButton);
            mainButton.classList.toggle('hover', !isSubButton);

            var subMenuItems = document.querySelectorAll('.nav-parent ul li');
            subMenuItems.forEach(function(item) {
                item.classList.toggle('active', !isSubButton && isGroupFinancesButton);
            });

            subMenuItems.forEach(function(item) {
                item.classList.toggle('hover', !isSubButton && isGroupFinancesButton);
            });

            nav.style.display = nav.style.display === 'none' || nav.style.display === '' ? 'block' : 'none';
        }

        function showJoinDorm() {
            var joinText = document.querySelector('.join-botton .text');
            joinText.style.display = (joinText.style.display === 'none' || joinText.style.display === '') ? 'block' : 'none';
        }

        document.addEventListener('DOMContentLoaded', function () {
            var profileImage = document.getElementById('profileImage');
            var profileText = document.querySelector('.text');

            profileImage.addEventListener('mouseover', function () {
                profileText.style.display = 'block';
            });

            profileImage.addEventListener('mouseout', function () {
                profileText.style.display = 'none';
            });

            var joinButton = document.querySelector('.join-botton');
            var joinText = document.querySelector('.join-botton .text');

            joinButton.addEventListener('mouseover', function () {
                joinText.style.display = 'block';
            });

            joinButton.addEventListener('mouseout', function () {
                joinText.style.display = 'none';
            });

            document.getElementById('toggleSidebar').addEventListener('click', function () {
                var sidebar = document.getElementById('sidebar');
                sidebar.style.display = (sidebar.style.display === 'none' || sidebar.style.display === '') ? 'flex' : 'none';
            });
        });
    </script>
</body>
</html>