{% extends "base/base.html" %}

{% block content %}
<div class="container-update d-flex justify-content-center align-items-center" style="height: 100vh;">
    <form method="POST" action="" class="custom-form">
        {% csrf_token %}

        <h3>Are you suure you want to delete "{{item}}"?</h3>
        <a href="{% url 'todolist' room_id=room.join_code %}" class="cancel-link"> Cancel </a>

        <form method="POST" action="">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>


    </form>
  </div>

{% endblock %}
