{% extends "base/base.html" %}

{% block content %}
  <center>
    <h2>Members and Admins in the Room</h2>

    <div style="display: flex; flex-direction: column; align-items: center;">
      <div>
        <h3>Admins:</h3>
        <ul>
          {% for admin in room.admin_set.all %}
            <li>
              <a href="{% url 'profile_view' room_id=room.join_code user_id=admin.user.id %}">
                <img src="{{ admin.user.profileimg.url }}" alt="{{ admin.user.username }}'s Profile Image" class="img-thumbnail">
                {{ admin.user.username }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div>
        <h3>Members:</h3>
        <ul>
          {% for member in room.member_set.all %}
            <li>
              <a href="{% url 'profile_view' room_id=room.join_code user_id=member.user.id %}">
                <img src="{{ member.user.profileimg.url }}" alt="{{ member.user.username }}'s Profile Image" class="img-thumbnail">
                {{ member.user.username }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </center>
{% endblock %}
