{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
     <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/services.css' %}">
</head>

<body>
    <section id="about">
        <div class="about-1">
            <h1>SERVICES</h1>
            <p>Discover a tailored suite of offerings designed to enhance every facet of your dormitory living experience. From expert financial guidance and resource optimization to personalized lifestyle solutions, our services are crafted to elevate your comfort, convenience, and overall well-being. Explore how DORMLIFE goes beyond traditional dormitory offerings to provide a comprehensive and enriching living experience for students. Your journey to optimized dormitory living starts here!</p>
        </div>
        <div id="about-2">
            <div class="content-box-lg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="about-item text-center">
                                <i class="fa fa-book"></i>
                                <h3>GROUP BUDGETTING</h3>
                                <hr>
                                <p>"Streamline your financial goals effortlessly with our Group Budgeting, empowering you and your dormmates to manage shared expenses efficiently."</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-item text-center">
                                <h3>BILL REMINDERS</h3>
                                <hr>
                                <p>"Never miss a deadline with our Bill Reminders, ensuring timely notifications for all your financial obligations or responsibility in the dormitory."</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-item text-center">
                                <h3>TO DO LIST</h3>
                                <hr>
                                <p>"Stay organized and on top of your priorities with our To-Do List, simplifying your daily tasks for a more focused and productive dormitory life."</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-item text-center">
                                <h3>CALENDAR OF ACTIVITIES</h3>
                                <hr>
                                <p>"Explore and plan your vibrant dormitory life with ease on our Calendar of Activities page, your go-to hub for upcoming events and important dates"</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="text-center">
        <p>Copyright &copy; 2023 All rights reserved by DORMLIFE.co</p>
    </footer>
</body>

</html>
