{% extends "base/base.html" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="text-center">
    <h1>{{ room.title }}</h1>

    <h3 style="color: white;">To Do</h3>

    <form method="POST" action="{% url 'todolist' room_id=room.join_code %}" class="d-flex justify-content-center mb-4">
      {% csrf_token %}
      {{ form.title }}
      <input class="btn btn-info" type="submit" name="Create Task">
    </form>

    <ul class="list-group">
      {% for task in tasks %}
      <li class="list-group-item">
        <a class="btn btn-sm btn-info" href="{% url 'updateTask' room_id=room.join_code pk=task.id %}">Update</a>
        <a class="btn btn-sm btn-danger" href="{% url 'delete' room_id=room.join_code pk=task.id %}">Delete</a>

        {% if task.complete == True %}
        <strike>{{ task.title }}</strike>
        {% else %}
        <span>{{ task.title }}</span>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
